
/*In body, choose color of site, text types, text size*/

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:13px;
    background-color: #e0e0d1;
}

/* Not Used - Sets padding to keep content from hitting the edges */
#body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.page-header{
    /*margin-top:0px;
    margin-bottom:0px;*/

}

/*size & type of font used for main headers*/
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:22px;
}


/*Bootstrap Navbar - setting stop avoid shadow & blocks around buttons command links*/
.navbar.transparent.navbar-inverse.navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color:rgba(0,0,0,0.0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:10px;
}

/*centers image - used form home page*/
#CenterImg{
display: block;
  margin-left: auto;
  margin-right: auto;
 }

/*set page header source no space, & text aligned close stop navbar*/
div.page-header {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;

}


/*create margins form thumbnails*/
.previewThem { 
    margin:auto;
}

/*creates a medium image size*/
#ImgSize{
    width:100%;
    height: 180px;
}
/*Not used*/
.jumbotron{

}
/*Not used* - saved in case changed mind/
.mainSec {
    /*margin-top: 0px;
    background-image: url(../Images/wardrobe_sketch.jpg);*/
    
    /*background-size: cover;*/
    /*background-size: 100% 100%;*/
    /*display: block;*/

    /*margin-left: auto;
    margin-right: auto;*/

    /*width: 70%;*/
}

/*.containerSec {
    margin-top: 0px;
    background-image: url(../Images/wardrobe_sketch.jpg);
    background-size: 100% 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:auto;

}*/


/*floats image to the left*/
#ImgLeft{
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
 }

/*create a small image size*/
#ImgSizeSmall{
    Height:150px;  
}

/*float images stop the right*/
#ImgRight{
float: right;
margin: 0;
padding: 0;
border: 0;
 }

/*used instead color-profile jumbotron - sets size color-profile background image forthe main page*/

.bgimage {
  
    background-image: url('../Images/wardrobe_sketch.jpg');
     background-size: 100% 100%;
     width: 75%;
     margin-left: auto;
    margin-right: auto;   
}

/* formula to lay out for responsive design (height x 100 / width) */
.bgimage-inside {
padding-top: 58.61%; 
}

/*override  size of navbar to reduce height*/
.navbar {
    height: 30px;
    min-height: inherit;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    padding:5px 0 0 0;
}
/*align text left & right for footer  info*/

.alignRight {
   float: right;
}
.alignLeft {
	float: left;
}
/*wrap text for footer info*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 30px; 
   /*vertical-align: middle;*/
      /*line-height: 30px;*/
}
.site-footer {
  background: black;
   /*vertical-align: middle;*/
   text-align:justify
   /*line-height: 30px;*/
}

/*create a rpw with space at top to space out images*/
.spaced-row{
    margin-top:15px;
}

.post-content {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.5;
    margin: -54px 20px 12px; 
    position: relative;
}